* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding: 90px 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

.col-6 {
    width: 50%;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 30px 0;
}

.header-menu {
    display: flex;
    column-gap: 20px;
    list-style: none;
}

.header-link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: black;
    text-decoration: none;
}

.header-btn {
    background-color: black;
    color: white;
    padding: 10px 30px;
}

.intro-title {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
}

.intro-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-top: 30px;
}

.intro-btn {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    color: white;
    background-color: black;
    padding: 10px 27px;
    border: 1px solid black;
    cursor: pointer;
    transition: .5s;
    margin-top: 30px;
}

.intro-btn:hover{
    background-color: transparent;
    color: black;
}
